In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
data = Series(['one','two',np.nan,'four'])

In [3]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [4]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
## Drop Nulls

data.dropna()

0     one
1     two
3    four
dtype: object

In [7]:
dFrame = DataFrame([[1,2,3],[np.nan,5,6],[np.nan,np.nan,np.nan]])

In [11]:
## Drops any row with nulls
dFrame

    0   1   2
0   1   2   3
1 NaN   5   6
2 NaN NaN NaN

In [9]:

clean_dFrame = dFrame.dropna()

In [10]:
clean_dFrame

   0  1  2
0  1  2  3

In [12]:
dFrame.dropna(how='all')

    0  1  2
0   1  2  3
1 NaN  5  6

In [13]:
dFrame.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [14]:
npn = np.nan
dFrame2 = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,9,10],[npn,npn,npn,npn]])

In [15]:
dFrame2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7   9  10
3 NaN NaN NaN NaN

In [16]:
dFrame.dropna(thresh=2)

    0  1  2
0   1  2  3
1 NaN  5  6

In [17]:
dFrame2.dropna(thresh=3)

    0   1  2   3
0   1   2  3 NaN
1   2 NaN  5   6
2 NaN   7  9  10

In [20]:
dFrame2.fillna(1)

   0  1  2   3
0  1  2  3   1
1  2  1  5   6
2  1  7  9  10
3  1  1  1   1

In [21]:
dFrame2

    0   1   2   3
0   1   2   3 NaN
1   2 NaN   5   6
2 NaN   7   9  10
3 NaN NaN NaN NaN

In [23]:
dFrame2.fillna({0:0,1:1,2:2,3:3})

   0  1  2   3
0  1  2  3   3
1  2  1  5   6
2  0  7  9  10
3  0  1  2   3

In [24]:
dFrame2.fillna(0)

   0  1  2   3
0  1  2  3   0
1  2  0  5   6
2  0  7  9  10
3  0  0  0   0

In [25]:
dFrame2.fillna(0,inplace=True)

In [26]:
dFrame2

   0  1  2   3
0  1  2  3   0
1  2  0  5   6
2  0  7  9  10
3  0  0  0   0