In [1]:
import numpy as np

In [2]:
import pandas as pd
from pandas import Series,DataFrame

In [4]:
dframe = pd.read_csv('sample_csv.csv',header= None)

In [5]:
dframe

   0   1    2     3     4
0  1   2    3     4     5
1  2   4    9    16    25
2  3   8   27    64   125
3  4  16   81   256   625
4  5  32  243  1024  3125