In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series([0,1,2],index=['A','B','C'])

ser1

A    0
B    1
C    2
dtype: int64

In [3]:
ser2 = Series([3,4,5,6],index=['A','B','C','D'])

ser2

A    3
B    4
C    5
D    6
dtype: int64

In [4]:
ser1 + ser2

A     3
B     5
C     7
D   NaN
dtype: float64

In [8]:
dFrame1 = DataFrame(np.arange(4).reshape((2,2)),columns=list('AB'),index=['NY','CHI'])

In [9]:
dFrame1

     A  B
NY   0  1
CHI  2  3

In [17]:
dFrame2 = DataFrame(np.arange(9).reshape((3,3)),columns=list('ABC'),index=['NY','CHI','LA'])

In [18]:
dFrame2

     A  B  C
NY   0  1  2
CHI  3  4  5
LA   6  7  8

In [20]:
dFrame1 + dFrame2

      A   B   C
NY    0   2   4
CHI   6   8  10
LA   12  14  16

In [21]:
dFrame1.add(dFrame2,fill_value=0)

      A   B   C
NY    0   2   4
CHI   6   8  10
LA   12  14  16

In [25]:
ser3 = dFrame2.ix[0]

In [26]:
ser3

A    0
B    1
C    2
Name: NY, dtype: int64

In [27]:
dFrame2 - ser3

     A  B  C
NY   0  0  0
CHI  3  3  3
LA   6  6  6