In [1]:
import numpy as np 
import pandas as pd

from pandas import Series, DataFrame

In [3]:
## Random Number
from numpy.random import randn

In [4]:
 ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [14]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [15]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [16]:
ser3 = Series(['USA','Mexico','Germany'],index=[0,5,10])

In [17]:
ser3

0         USA
5      Mexico
10    Germany
dtype: object

In [19]:
ranger = range(15)

In [20]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [22]:
## Forward Fill 

ser3.reindex(ranger,method='ffill')

0         USA
1         USA
2         USA
3         USA
4         USA
5      Mexico
6      Mexico
7      Mexico
8      Mexico
9      Mexico
10    Germany
11    Germany
12    Germany
13    Germany
14    Germany
dtype: object

In [23]:
dFrame = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                  columns = ['col1','col2','col3','col4','col5'])

dFrame

       col1      col2      col3      col4      col5
A -0.032142  0.589605 -0.224599  0.321748  1.120050
B -2.676250  1.266772  1.733482 -1.205823 -2.233132
D -1.117618  0.368367  1.227056  1.298034  1.017213
E  0.341963  0.784688 -0.731119 -0.930502  0.543056
F -0.214582 -0.486776 -0.430250  2.282368 -0.951841

In [24]:
dFrame2 = dFrame.reindex(['A','B','C','D','E','F'])

dFrame2

       col1      col2      col3      col4      col5
A -0.032142  0.589605 -0.224599  0.321748  1.120050
B -2.676250  1.266772  1.733482 -1.205823 -2.233132
C       NaN       NaN       NaN       NaN       NaN
D -1.117618  0.368367  1.227056  1.298034  1.017213
E  0.341963  0.784688 -0.731119 -0.930502  0.543056
F -0.214582 -0.486776 -0.430250  2.282368 -0.951841

In [25]:
dFrame2 = dFrame.reindex(['A','B','C','D','E','F'],fill_value=0)

In [26]:
dFrame2

       col1      col2      col3      col4      col5
A -0.032142  0.589605 -0.224599  0.321748  1.120050
B -2.676250  1.266772  1.733482 -1.205823 -2.233132
C  0.000000  0.000000  0.000000  0.000000  0.000000
D -1.117618  0.368367  1.227056  1.298034  1.017213
E  0.341963  0.784688 -0.731119 -0.930502  0.543056
F -0.214582 -0.486776 -0.430250  2.282368 -0.951841

In [27]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [28]:
## Reindexing Columns 

dFrame2.reindex(columns=new_columns,fill_value=0)

       col1      col2      col3      col4      col5  col6
A -0.032142  0.589605 -0.224599  0.321748  1.120050     0
B -2.676250  1.266772  1.733482 -1.205823 -2.233132     0
C  0.000000  0.000000  0.000000  0.000000  0.000000     0
D -1.117618  0.368367  1.227056  1.298034  1.017213     0
E  0.341963  0.784688 -0.731119 -0.930502  0.543056     0
F -0.214582 -0.486776 -0.430250  2.282368 -0.951841     0

In [30]:
## Shortcut to reindex by using ix

dFrame.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.032142  0.589605 -0.224599  0.321748  1.120050   NaN
B -2.676250  1.266772  1.733482 -1.205823 -2.233132   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.117618  0.368367  1.227056  1.298034  1.017213   NaN
E  0.341963  0.784688 -0.731119 -0.930502  0.543056   NaN
F -0.214582 -0.486776 -0.430250  2.282368 -0.951841   NaN